<!DOCTYPE html>
<html lang="ja">
<head>
  <div class = "Chat-main__group-info">
  </div>
</head>
<body>
  <div "Chat-main__message-list">
  </div>
</body>
<footer>
  <div "Chat-main__message-form">
  </div>
</footer>
</html>