.chat-side
  .side-header
    .side-header-box
      .side-header-box__name
        masa
      .side-header-box__icons
        = link_to "#", class: "side-header-box__icons__icon" do
          = icon('far', 'edit')
        = link_to "#", class: "side-header-box__icons__icon" do
          = icon('fas', 'cog')
  .groups
    .groups-box
      .groups-box-name
        techcamp
      .groups-box-message
        まだメッセージがありません